<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/content/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <script src="/content/jscripts/jquery-3.2.1.js"></script>
    <script src="/content/jscripts/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Address Book</h1>
      @RenderBody()
    </div>
  </body>
</html>
