@{
  Layout = "Shared/_Layout.cshtml";
}

<h3>Click on a contact name to see their details</h3>
<ul>
  @foreach (var contact in @Model)
  {
    <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
  }
</ul>


<a href = "/contacts/addnew">Add a new contact here</a>

<div>
  <form action="/contacts/clear" method="post">
    <button id="clearAll" type="submit" name="button">Clear all contacts</button>
  </form>
</div>
